.sidebar {
	background-color: transparent;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	width: 300px;
	height: 100vh;
	z-index: -1;
}
.sidebarimg {
	position: absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	top: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.sidebarheader {
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.sidebarheader h2 {
	margin-left: 30px;
	color: whitesmoke;
	font-size: 20px;
}
.sidebarheader h4 {
	margin-left: 80px;
	color: darkslategray;
	font-size: 35px;
}
.featuredsidebar {
	display: flex;
}
.featuredsidebar hr {
	width: 150px;
	color: whitesmoke;
	z-index: 1;
	background-color: white;
	margin-left: 15px;
	margin-top: 13px;
	border: solid transparent 0px;
	height: 2px;
}
.buttonsection {
	display: flex;
	flex-direction: column;
	z-index: 1;
	position: absolute;
	bottom: 30px;
}
.buttonsection .arrows {
	margin: 10px 0px;
	margin-left: 15px;
}
.buttonsection img {
	height: 50px;
	width: auto;
	margin-left: 15px;
}
.buttonsection button {
	background-color: transparent;
	border: transparent;
}
button:focus {outline: 0;}
.buttonsection button .buttoninactive {
	height: 10px;
	padding: 10px 0;
	width: auto;
	cursor: pointer;
}
.buttonsection button .buttonactive {
	height: 30px;
	padding: 5px 0;
	width: auto;
	cursor: pointer;
}
.bottomsection img {
	height: 100px;
	width: auto;
}
.bottomsection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 30px;
	min-height: 700px;
}
.footer {
	position: absolute;
	bottom: 15px;
	left: 45%;
	right: 45%;
	color: white;
	border-radius: 5px;
}
.footer img {
	height: 30px;
	width: auto;
}
.fpbg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.productimagesb {
	position: absolute;
	z-index: 5;
}
.homelogo {
	height: 200px;
	width: auto;
	position: absolute;
	top: 15px;
	left: 15px;
}
