.login-container {
    
}

.login-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    padding-top: 200px;
    margin: 0 auto;
}

.login-items h1, .login-items a {
    font-size: 48px;
}

.login-items a {
    border: 1px solid black;
    padding: 25px 50px;
    margin-top: 45px;
    background: #70A3C0;
}

