.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3FEB5;
}
.navbar-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-social i, .navbar-account i {
    padding: 10px;
}

.navbar-account, .navbar-social {
    padding: 20px;
    font-size: 24px;
}