.single-item-nav {
    display: flex;
}

.single-item-info-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 100px;
}

.single-item-img img {
    max-height: 500px;
    /* background-color:#E3FEB5 ; */
}

.single-item-info {
    display: block;
    text-align: right;
}
.single-item-info h1, .single-item-info h2 {
    font-size: 48px;
    padding: 20px;
}

.single-item-info h3 {
    font-size: 36px;
    padding: 20px;
}

.single-item-info h4 {
    font-size: 20px;
    padding-right: 10px;
}

.single-item-info input {
    width: 30px;
    font-size: 18px;
}
.single-item-info button {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #E3FEB5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #E3FEB5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.single-item-description {
    text-align: left;
    margin-top: 50px;
    max-width: 700px;
    padding: 50px;
}

.single-item-description h1 {
    font-size: 24px;
    padding: 20px;
}

.single-item-description p {
    font-size: 20px;
    line-height: 1.3em
}

.related-header {
    font-size: 36px;
    padding: 20px;
}
.related-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
}
.related-img-container img {
    max-width: 200px;
}


